In [2]:
import pandas as pd
import numpy as np

In [4]:
pd.Series([56111079, 68308744, 124753948, 77993663])

0     56111079
1     68308744
2    124753948
3     77993663
dtype: int64

In [6]:
pop = pd.Series([56111079, 68308744, 124753948, 77993663])
print(pop)

0     56111079
1     68308744
2    124753948
3     77993663
dtype: int64

In [8]:
pop = pd.Series(np.array([56111079, 68308744, 124753948, 77993663]))
print(pop)

0     56111079
1     68308744
2    124753948
3     77993663
dtype: int32

In [14]:
region = ['Northeast', 'Midwest', 'South', 'West']
pop2 = pd.Series(np.array([56111079, 68308744, 124753948, 77993663]), index = region, dtype = 'int64')
print(pop2)

Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
dtype: int64

In [13]:
pop2.index = region
print(pop2)

Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
dtype: int32

In [15]:

dictdata = {'Northeast': 156111079, 'Midwest': 68308744,
            'South': 124753948, 'West':  77993663}

In [17]:
pop3 = pd.Series(dictdata, dtype = int)
print(pop3)

Northeast    156111079
Midwest       68308744
South        124753948
West          77993663
dtype: int32

In [18]:
pop3.index.name = "Regions"

In [19]:
print(pop3)

Regions
Northeast    156111079
Midwest       68308744
South        124753948
West          77993663
dtype: int32

In [20]:
pop3.name = "Population"
print(pop3)

Regions
Northeast    156111079
Midwest       68308744
South        124753948
West          77993663
Name: Population, dtype: int32

In [21]:
pop.values

array([ 56111079,  68308744, 124753948,  77993663])

In [27]:
pop.index = region

In [23]:
pop.is_unique

True

In [28]:
pop.index.is_unique

True

In [24]:
pop.iat[0]

56111079

In [65]:
pop.at['West']

77993663

In [30]:
pop['West']

77993663

In [31]:
pop[0]

56111079

In [32]:
pop

Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
dtype: int32

In [34]:
pop.iloc[[0,2]]

Northeast     56111079
South        124753948
dtype: int32

In [35]:
pop.iloc[0:2]

Northeast    56111079
Midwest      68308744
dtype: int32

In [36]:
pop.iloc[0]

56111079

In [37]:
pop.iloc[0:3:2]

Northeast     56111079
South        124753948
dtype: int32

In [39]:
pop.loc['Northeast':'South']

Northeast     56111079
Midwest       68308744
South        124753948
dtype: int32

In [64]:
pop.at['East']

100000

In [43]:
pop.at['East'] = 100000

In [44]:
pop

Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
East            100000
dtype: int64

In [50]:
popA = pop.append(pd.Series([4500000, 300000, 156111079, 15611, 100],
            index = ['North', 'Northwest', 'Northeast', 'Northeast', 'sample']), verify_integrity = True)

ValueError: Indexes have overlapping values: Index(['Northeast'], dtype='object')

In [46]:
popA

Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
East            100000
North          4500000
Northwest       300000
Northeast    156111079
Northeast        15611
sample             100
dtype: int64

In [79]:
popC = pop.reindex(['Northeast', 'Northwest', 'West'])
print(popC)

Northeast    56111079.0
Northwest           NaN
West         77993663.0
dtype: float64

In [52]:
pop.count

<bound method Series.count of Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
East            100000
dtype: int64>

In [54]:
pop.count()

5

In [55]:
popA.unique()

array([ 56111079,  68308744, 124753948,  77993663,    100000,   4500000,
          300000, 156111079,     15611,       100], dtype=int64)

In [56]:
popA.is_unique

True

In [61]:
popA.drop_duplicates()

Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
East            100000
North          4500000
Northwest       300000
Northeast    156111079
Northeast        15611
sample             100
dtype: int64

In [62]:
popA.drop_duplicates().count()

10

In [67]:
popA.drop(['sample'])

Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
East            100000
North          4500000
Northwest       300000
Northeast    156111079
Northeast        15611
dtype: int64

In [68]:
popA

Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
East            100000
North          4500000
Northwest       300000
Northeast    156111079
Northeast        15611
sample             100
dtype: int64

In [69]:
popB = popA.drop(['sample'])

In [70]:
print(popB)

Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
East            100000
North          4500000
Northwest       300000
Northeast    156111079
Northeast        15611
dtype: int64

In [74]:
popnew = popB.groupby(popB.index).first()
print(popnew)

East            100000
Midwest       68308744
North          4500000
Northeast     56111079
Northwest       300000
South        124753948
West          77993663
dtype: int64

In [75]:
popnew = popB.groupby(popB.index).sum()
print(popnew)

East            100000
Midwest       68308744
North          4500000
Northeast    212237769
Northwest       300000
South        124753948
West          77993663
dtype: int64

In [76]:
popA

Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
East            100000
North          4500000
Northwest       300000
Northeast    156111079
Northeast        15611
sample             100
dtype: int64

In [82]:
popC.dropna()

Northeast    56111079.0
West         77993663.0
dtype: float64

In [84]:
popC

Northeast    56111079.0
Northwest           NaN
West         77993663.0
dtype: float64

In [85]:
popC.loc[popC.notnull()]

Northeast    56111079.0
West         77993663.0
dtype: float64

In [86]:
popC.sort_values()

Northeast    56111079.0
West         77993663.0
Northwest           NaN
dtype: float64

In [88]:
popC.sort_values(ascending = False)

West         77993663.0
Northeast    56111079.0
Northwest           NaN
dtype: float64

In [92]:
popC.filter(['West'])

West    77993663.0
dtype: float64

In [93]:
popC.filter(items = ['West'])

West    77993663.0
dtype: float64

In [96]:
popC.filter(like = "west")

Northwest   NaN
dtype: float64

In [98]:
pop.filter(regex = 'h$')

South    124753948
dtype: int64

In [99]:
pop.filter(regex = '^N')

Northeast    56111079
dtype: int64

In [100]:
pop.filter(regex = 's')

Northeast    56111079
Midwest      68308744
West         77993663
East           100000
dtype: int64

In [101]:
pop.filter(regex = 'Ww')

Series([], dtype: int64)

In [102]:
pop.filter(regex = '[Ww]')

Midwest    68308744
West       77993663
dtype: int64

In [104]:
pop2 = pop.where(pop > pop.median(), -1)
print(pop2)

Northeast           -1
Midwest             -1
South        124753948
West          77993663
East                -1
dtype: int64

In [105]:
pop + popC

East                 NaN
Midwest              NaN
Northeast    112222158.0
Northwest            NaN
South                NaN
West         155987326.0
dtype: float64

In [106]:
pop

Northeast     56111079
Midwest       68308744
South        124753948
West          77993663
East            100000
dtype: int64

In [107]:
pop.cumsum()

Northeast     56111079
Midwest      124419823
South        249173771
West         327167434
East         327267434
dtype: int64