# INTRO TO PYTHON
## Topics: More Sequences: LIST, TUPLE

# SEQUENCES

# LIST - a mutable sequence

In [43]:
#List is an ordered collection of 0 or more elements 
#Elements don't have to be unique 
#Elements can be various types, even other lists 
#List is mutable

In [177]:
# create a list of chars
# sequences can end in a comma (optionally)

alist = ['a', 'i', 'u', 'e']
alist2 = ['o',]
alist3 = alist*2
print(alist3)

['a', 'i', 'u', 'e', 'a', 'i', 'u', 'e']

## creating LIST from other collections (sequences, dict etc)

In [178]:
# we can call the list() function and give it a sequence 
# of another kind to  convert it to a list

mylist =list(('apple', 'orange', 'banana'))
print(mylist)
mylist = list(range(10))
print(mylist)

['apple', 'orange', 'banana']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## List operations

In [118]:
# when we make changes to LIST, notice that the underlying list is mutated
alist += alist2
print(alist)
alist.append('y')
print(alist)
alist.remove('y')
print(alist)

['a', 'i', 'u', 'e', 'o']
['a', 'i', 'u', 'e', 'o', 'y']
['a', 'i', 'u', 'e', 'o']

In [120]:
alist.sort()
print(alist)
alist.reverse()
print(alist)

['a', 'e', 'i', 'o', 'u']
['u', 'o', 'i', 'e', 'a']

In [121]:
# we can treat LIST as a stack- and use pop(remove last element)
# or pop(index)
alist.pop()

'a'

In [129]:
alist.pop(0)

'a'

In [130]:
print(alist)
len(alist)

['o', 'i', 'e']

3

In [131]:
alist.insert(0,'a')
alist

['a', 'o', 'i', 'e']

In [133]:
del alist[1]
alist

['a', 'e']

## Sorting Sequences - with the in-place .sort() method

In [135]:
# sequences including LIST can be sorted using the .sort() method available in sequences
# default sort order is natural ordering of values in ascending order

anotherlist = ['saw', 'small', 'he', 'foxes', 'six']
print(anotherlist)
anotherlist.sort()
print(anotherlist)

['saw', 'small', 'he', 'foxes', 'six']
['foxes', 'he', 'saw', 'six', 'small']

In [280]:
# sort has a few useful options
# reverse: True or False
# key: we can change the sort order by specifying a key fucntion (can also be a lambda - more later)

anotherlist.sort(key = len)   #len calls the built-in  len() function
print(anotherlist)
anotherlist.sort(key = len, reverse = True)
print(anotherlist)
anotherlist.sort(key = lambda x: len(x))
print(anotherlist)

['he', 'six', 'saw', 'small', 'foxes']
['small', 'foxes', 'six', 'saw', 'he']
['he', 'six', 'saw', 'small', 'foxes']

## see LAMBDA functions later: small anonymous functions, cant be reused and always return a value

## Sorting using the sorted() function - works on any iterables

In [210]:
# can sort iterables (sequences are included) using the sorted() function
# sorted() returns a list

a = sorted(anotherlist)
print(a)

a = sorted(anotherlist, reverse=True)
print(a)

['foxes', 'he', 'saw', 'six', 'small']
['small', 'six', 'saw', 'he', 'foxes']

## Reverse sort using reversed() function  - only works on sequences

In [204]:
# another wya to reverse is to use the reversed() function- 
# but it returns an iterable rather than a sequence - need a loop to print it

b = reversed(a)
print(b)  # this doesnt print the results

# create a loop to print the contents of the iterable
for i in b:
    print(i)

<list_reverseiterator object at 0x000001B84CB250F0>
small
six
saw
he
foxes

## List Comprehension

In [145]:
# list comprehension - a shorthand notation 
# helpful for populating lists

squared_integers = []

for i in range(0,10):
  squared_integers.append(i*i)
print(squared_integers)

# the above code can be shortened
squared_integers = [i*i for i in range(0,10)]
print(squared_integers)

# can be more complex as well
my_exponents = [x**y for x in range(5) if x%2==0 for y in range(1,3)]
print(my_exponents)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 0, 2, 4, 4, 16]

In [146]:
#NOTE about matrices
# List can be used to create lists of lists - like a matrix
# but not very fast for numeric ddata/operations
# for scientific calculations, use numPy classes

# TUPLE - an immutable sequence

In [48]:
#Tuple contains a sequence of comma-separated, ordered values
#Optionally use parentheses around all the values
#Note that tuples are not formed by the parentheses, but rather by use of the comma operator. 
#The exception is the empty tuple, for which parentheses are required
# allowing unparenthesized “nothing” in expressions would cause ambiguities and allow common typos to pass uncaught.
#Tuple are immutable - Once created, you cannot change its value in the assgined memory location

In [152]:
atuple =('some string', [1,2,3,4],)
print(len(atuple))
print(atuple[0])
print(atuple[len(atuple)-1])
print(atuple[len(atuple)-1][2])
print(atuple[1].append(5))
print(atuple)

2
some string
[1, 2, 3, 4]
3
None
('some string', [1, 2, 3, 4, 5])

In [154]:
# the following line of code produces an error - remove # to see it
#atuple[0] = 'other string'   #not allowed

In [155]:
for item in atuple:
  print(item)

some string
[1, 2, 3, 4, 5]

In [161]:
# tuples cane be concatenated

atuple +('genius', 789)

('some string', [1, 2, 3, 4, 5], 'genius', 789, 'genius', 789, 'genius', 789)